#balls {
	position: relative;
	padding-top: $default-padding * 5;
	padding-left: $default-padding;
	padding-right: $default-padding;

	ul,
	li {
		padding: 0;
		margin: 0;
	}

	ul {
		display: flex;
		flex-flow: column nowrap;

		@media only screen and (min-width: 60em) {
			flex-flow: row nowrap;
			justify-content: space-between;
		}
	}

	li {
		display: flex;
		justify-content: flex-start;

		&:nth-child(2n) {
			justify-content: flex-end;
		}

		&:not(:first-of-type) {
			margin-top: ((-$default-padding) * 4);
		}

		&:nth-of-type(1) a {
			animation-delay: 5s;

			svg {
				transform: scale(1.02) translate(-.7em, -.2em) rotate(0deg);
			}
		}

		&:nth-of-type(2) a {
			animation-delay: 2s;

			svg {
				transform: scale(1.02) translate(-.6em, -.3em) rotate(-4deg);
			}
		}

		&:nth-of-type(3) a {
			animation-delay: 8s;

			svg {
				transform: scale(1.02) translate(-.3em, -.3em) rotate(36deg);
			}
		}

		&:nth-of-type(4) a {
			animation-delay: 6s;

			svg {
				transform: scale(1.02) translate(0em, -0.3em) rotate(78deg);
			}
		}

		&:nth-of-type(5) a {
			animation-delay: 1s;

			svg {
				transform: scale(1.02) translate(.1em, -.2em) rotate(96deg);
			}
		}

		@media only screen and (min-width: 30em) {

			&:nth-child(3n) {
				justify-content: center;
			}

			&:nth-child(3n+1) {
				justify-content: flex-start;
			}

			&:nth-child(3n+2) {
				justify-content: flex-end;
			}

			&:not(:first-of-type) {
				margin-top: ((-$default-padding) * 6);
			}
		}

		@media only screen and (min-width: 60em) {

			&:not(:first-of-type) {
				margin-top: 0;
			}

			&:nth-child(1) {
				justify-content: center;
				align-items: center;
				transform: translate(3vw, 30vh);
			}

			&:nth-child(2) {
				justify-content: center;
				align-items: center;
				transform: translate(-1.25vw, 12.5vh);
			}

			&:nth-child(3) {
				justify-content: center;
				align-items: center;
				transform: translate(0, 0);
			}

			&:nth-child(4) {
				justify-content: center;
				align-items: center;
				transform: translate(-1.25vw, 12.5vh);

			}

			&:nth-child(5) {
				justify-content: center;
				align-items: center;
				transform: translate(-3vw, 30vh);

			}
		}

	}

	li a {
		will-change: transform;
		transition: 1s;
		animation: vibe 15s infinite;
		animation-fill-mode: forwards;

		&:hover,
		&:focus,
		&:active {
			transform: translateY(-1rem);
		}

	}

	li img {
		@include ball-shadow;

		max-width: 12.5em;
		width: 50vw;
		height: auto;
		transition: 1s;

		&:hover,
		&:focus,
		&:active {
			filter: drop-shadow(1px 1px 4px black);
		}

		@media only screen and (min-width: 60em) {
			max-width: calc(20vw - #{($default-padding * 2) / 5});
			width: auto;
		}
	}

	section {
		position: relative;
		will-change: transform;
		transition: 1s;
		animation: vibe 15s infinite;
		animation-fill-mode: forwards;
		animation-direction: reverse;
		animation-delay: 4s;

		img {
			max-width: 80%;
			max-height: 75vh;
			width: auto;
			height: auto;
			transition: opacity 1s ease-in-out;

			&:nth-of-type(2) {
				position: absolute;
				opacity: 0;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	section a {
		&:hover {
			img {
				&:first-of-type {
					opacity: 0;
				}

				&:nth-of-type(2) {
					opacity: 1;
				}
			}
		}
	}

	svg {
		position: absolute;
		z-index: 1;
		pointer-events: none;

		path {
			fill: transparent;
		}

		text {
			font-family: $smooth-font;
			font-size: .8em;
			fill: $secondary-color;
		}
	}
}