#chat {
	position: fixed;
	top: $default-padding / 2;
	right: $default-padding / 2;
	z-index: 5;

	a {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		border: none;
		margin-top: $default-padding;
		margin-right: calc(#{$default-padding} + 1em);
		cursor: pointer;
		text-align: center;
		position: relative;
		text-decoration: none;
		will-change: transform;
		transition: 1s;
		border-radius: .5em;

		&:hover,
		&:focus,
		&:active {

			span {
				text-shadow: 0 0 10px white;
			}

			&:after {
				animation: shake-right 1s infinite;
			}
			&:before {
				animation: shake-left 1s infinite;
			}
		}

		&:after,
		&:before {
			content: "";
			position: absolute;
			background-image: url('../img/streepjes.png');
			background-size: cover;
			background-position: center center;
			height: 4.5em;
			width: 2em;
			top: 50%;
			transform: translateY(-50%);
		}

		&:before {
			left: -2em;
		}

		&:after {
			right: -2em;
			transform: translateY(-50%) rotate(180deg);
		}

		span {
			color: $secondary-color;
			font-family: $smooth-font;
			transition: 1s;
		}
	}
}

