#explain {
	position: fixed;
	top: 5vh;
	left: 5vw;
	right: 5vw;
	bottom: 5vh;
	max-width: 90vw;
	max-height: 90vh;
	padding: $default-padding;
	background: $main-color;
	z-index: 10;
	opacity: 0;
	transform: translateY(-2em);
	transition: all 1s ease-in-out;
	pointer-events: none;
	overflow-y: auto;

	.explain-visible & {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	header {
		display: none;

		h2 {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.75em;
			white-space: pre-line;

			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;

				&:first-of-type {
					position: relative;
					font-family: $smooth-font;
					font-size: .9em;
					padding-bottom: .5em;

					&:after {
						content: "";
						position: absolute;
						width: 2.3em;
						top: 1.1em;
						height: 5px;
						background-image: url('../img/streep-1-min.png');
						background-size: contain;
						background-position: center center;
					}
				}

				&:last-of-type {
					position: relative;

					&:after {
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						top: 1.1em;
						height: 5px;
						background-image: url('../img/streep-2-min.png');
						background-size: contain;
						background-position: center center;
					}
				}
			}
		}
	}

	button {
		display: block;
		position: absolute;
		top: $default-padding / 2;
		right: $default-padding / 2;
		height: 0;
		width: 0;
		padding: 0;
		border: 0;
		background: none;
		padding: $default-padding * 1.5;
		cursor: pointer;

		span {
			display: none;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			width: #{$default-padding * 1.5};
			height: 1px;
			background-color: $secondary-color;
			right: $default-padding / 2;
			top: $default-padding;
			transform-origin: 50% 50%;
		}

		&::after {
			transform: translate(0,0) rotate(45deg);
		}

		&::before {
			transform: translate(0,0) rotate(-45deg);
		}
	}
}
