#explain {
	position: fixed;
	top: 5vh;
	left: 5vw;
	right: 5vw;
	bottom: 5vh;
	max-width: 90vw;
	max-height: 90vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: $default-padding;
	background: $main-color;
	z-index: 10;
	opacity: 0;
	transform: translateY(-2em);
	transition: all 1s ease-in-out;
	pointer-events: none;

	.explain-visible & {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}

	h2 {
		margin-bottom: $default-padding;

		span:first-of-type {
			margin-bottom: $default-padding ;
		}
	}

	h2,
	p {
		max-width: 25em;
		margin: auto;
	}

	button {
		display: block;
		position: absolute;
		top: $default-padding / 2;
		right: $default-padding / 2;
		height: 0;
		width: 0;
		padding: 0;
		border: 0;
		background: none;
		padding: $default-padding * 1.5;
		cursor: pointer;

		span {
			display: none;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			width: #{$default-padding * 1.5};
			height: 1px;
			background-color: $secondary-color;
			right: $default-padding / 2;
			top: $default-padding;
			transform-origin: 50% 50%;
		}

		&::after {
			transform: translate(0,0) rotate(45deg);
		}

		&::before {
			transform: translate(0,0) rotate(-45deg);
		}
	}
}
