#how {
	position: fixed;
	bottom: $default-padding / 2;
	left: $default-padding / 2;
	z-index: 5;

	button {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		border: none;
		padding: $default-padding;
		margin: 0;
		text-decoration: none;
		background: $main-color;
		cursor: pointer;
		text-align: center;
		transition: all 250ms ease-in-out;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: .5em;
		box-shadow: 0 0 2px white;

		&:hover,
		&:focus {
			opacity: .9;
			box-shadow: 0 0 4px white;
		}

		&:focus {
			// outline: 1px solid #fff;
			outline-offset: -2px;
		}

		&:active {
			transform: scale(0.99);
		}

		span {
			font-family: $heading-font;
			font-size: 1.5em;
			color: $secondary-color;
		}
	}
}