#intro {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;

	h1 {
		position: absolute;
		top: $default-padding;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		font-size: 1.75em;
		margin-top: $default-padding;
		white-space: pre-line;

		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;

		span {
			&:first-of-type {
				font-family: $smooth-font;
				font-size: 1.25em;
			}
		}
	}
}