#intro {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	img {
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 90%;
		transform: translateX(-10vw) scaleX(-1);

		animation-name: ridingBear;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}