#intro {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;

	h1 {
		position: absolute;
		top: $default-padding;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		margin-top: $default-padding;
	}

	img {
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 90%;
		// transform: translateX(-10vw) scaleX(-1);

		// animation-name: ridingBear;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}