#popup {
	position: fixed;
	top: 5vh;
	left: 5vw;
	right: 5vw;
	bottom: 5vh;
	max-width: 90vw;
	max-height: 90vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: $default-padding;
	background: $main-color;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-2em);
	transition: all 1s ease-in-out;

	.popup-visible & {
		opacity: 1;
		transform: translateY(0);
	}

	.img-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		max-width: 80%;
		max-height: 80%;
		width: 80vw;
		height: 80vh;
	}

	img {
		// @include ball-shadow;

		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
	}

	h2,
	h3,
	p {
		margin: 0;
	}

	h2 {
		margin-bottom: $default-padding / 2;
	}

	span {
		line-height: $default-padding * 1.5;
	}
}