#snow {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	pointer-events: none;

	span {
		position: fixed;
		background-size: cover;
		background-position: center center;
		user-select: none;
		z-index: 1000;
		pointer-events: none;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;

		&.img-1 {
			background-image: url('../img/flake-1.png');
		}

		&.img-2 {
			background-image: url('../img/flake-2.png');
		}

		&.img-3 {
			background-image: url('../img/star-1.png');
		}

		&.img-4 {
			background-image: url('../img/star-2.png');
		}
	}
}
