// font sizes
$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 20px;

// colors
$main-color:      #eed9c7;
$secondary-color: #5a0a00;
$tertiary-color:  #b97231;

//fonts
$heading-font: 'gatlin_bold_wfregular', serif;
$smooth-font: 'engravers', serif;
$body-font: 'Work Sans', sans-serif;

// padding & margin
$default-padding: 1.125em;